body {
    background: #dde86d;
    margin: 0;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer{
    background: #e39e66;
    
}

h2{
    margin: 0;
    text-align: center;
    color: #320d11;
    font-size: 30px;
    font-weight: bold;
}
h4{
    text-align: center;
    color: #320d11;
    font-weight: normal;
}

header h1 {
    color: #320d11;
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
}

header h2 {
    margin: 0;
    text-align: right;
    color: #320d11;
    font-size: 30px;
    font-weight: bold;
}

header img {
    margin: 0;
    width: 200px;
    height: 200px;
    display: inline-block;
    float: inline-start;
}

.weare {
    position: relative;
    top: 10vh;
    left: 44vw;
    clear: both;

}

.weare img,
.adop img {
    width: 200px;
    height: 200px;
}

.weare h3,
.adop h3,
.events h3,
.formulario h3,
.donacion h3 {
    color: #320d11;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.adop {
    position: relative;
    top: 15vh;
    left: 25vw;
    clear: both;

}

.events {
    position: relative;
    top: -20vh;
    left: 65vw;
    clear: both;

}

.events img,
.donacion img {
    width: 200px;
    height: 150px;
    border-radius: 200px;
}
.formulario {
    position: relative;
    top: -15vh;
    left: 30vw;
    clear: both;

}

.formulario img {
    width: 300px;
    height: 200px;
}

.donacion {
    position: relative;
    top: -44vh;
    left: 60vw;
    clear: both;

}

footer {
    position: static;
    display: block
}

.siguenos {
    font-weight: bold ;
    font-size: 30px;
}

footer nav {
    padding: 5px 15px;
    text-align: left;
}

footer nav li {
    list-style: none;
    padding: 10px;
    display: inline-block;
    font: bold 20px;
}

.icons{
    width: 100px;
    height: 100px;
}
.icons:hover{
    transform: scale(1.5);
}

.copyright {
    font: bold 22px;
    text-align: center;
    margin: 0;
}
a{
    outline: none;
    text-decoration: none;
}

.contact{
    list-style-type: none;
    text-align: center;
}

.redes{
    list-style: none;
    padding: 10px;
    display: inline-block;
}
.photos{
    border: 1px solid brown;
    list-style: none;
    padding: 100px;
    display: inline-block;
    font-size: 30px;
}
.divbutton{
    text-align: center;
}
button{
    background: #cccd25;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    
}
button:hover{
    background: #b1a61d;
}
button:active{
    background: #8d7a1b;
}
