<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Salvando 4 patas al 100%</title>
    <meta name="viewport" content="width-device-width" />
    <link rel="stylesheet" href="../styless.css" />
    <link rel="icon" type="image/png" href="../public/salvando_logo.png" />
</head>

<body>
    <header>
        <a href="../index.html">
            <img title="Salvando logo" alt="Salvando logo" src="../public/salvando_logo.png" />
        </a>
        <h1>Salvando 4 patas al 100%</h1>
        <h2>#EnEquipoSomosMas</h2>
    </header>
    <main>
    <div class="fondo">
        <section>
            <h2>Lista de adoptables</h2>
        </section>
    <section>
        <div class="divbutton">
            <table class="listado">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Raza</th>
                        <th>Edad</th>
                        <th>Esterilizado</th>
                        <th>Vacunado</th>
                        <th>Perronalidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre 1</td>
                        <td>Sexo 1</td>
                        <td>Raza 1</td>
                        <td>Edad 1</td>
                        <td>Esterilizado 1</td>
                        <td>Vacunado 1</td>
                        <td>Perronalidad 1</td>
                    </tr>
                    <tr>
                        <td>Nombre 2</td>
                        <td>Sexo 2</td>
                        <td>Raza 2</td>
                        <td>Edad 2</td>
                        <td>Esterilizado 2</td>
                        <td>Vacunado 2</td>
                        <td>Perronalidad 2</td>
                    </tr>
                    <tr>
                        <td>Nombre 3</td>
                        <td>Sexo 3</td>
                        <td>Raza 3</td>
                        <td>Edad 3</td>
                        <td>Esterilizado 3</td>
                        <td>Vacunado 3</td>
                        <td>Perronalidad 3</td>
                    </tr>
                    <tr>
                        <td>Nombre 4</td>
                        <td>Sexo 4</td>
                        <td>Raza 4</td>
                        <td>Edad 4</td>
                        <td>Esterilizado 4</td>
                        <td>Vacunado 4</td>
                        <td>Perronalidad 4</td>
                    </tr>
                    <tr>
                        <td>Nombre 5</td>
                        <td>Sexo 5</td>
                        <td>Raza 5</td>
                        <td>Edad 5</td>
                        <td>Esterilizado 5</td>
                        <td>Vacunado 5</td>
                        <td>Perronalidad 5</td>
                    </tr>
                </tbody>
            </table>  
        </div>

    </section>
    </div>
        <footer>
            <nav>
            <div class="siguenosmenu">
                <h3 class="siguenos">Siguenos en</h3>
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/pg/salvando4patasal100/about">
                        <img class="icons" alt="Facebook" title="Facebook" src="../public/Facebook_Logo_2023.png"/>
                    </a></li>
                    <li><a target="_blank" href="https://www.instagram.com/invites/contact/?i=dihx5lh5wvcw&utm_content=4jd6r8w">
                        <img class="icons" alt="Instagram" title="Instagram" src="../public/Instagram_icon.png.webp"/>
                    </a></li>
                    <li><a target="_blank" href="https://twitter.com/SALVANDO4AL1OO?s=08">
                        <img class="icons" alt="Twitter" title="Twitter" src="../public/xlogo.png"/>
                    </a></li>
                    <li><a target="_blank" href="https://vm.tiktok.com/ZSucWvvL">
                        <img class="icons" alt="TikTok" title="TikTok" src="../public/tiktok.png"/>
                    </a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCZ4ElTuaWda6OWP9ZpVGz5g">
                        <img class="icons" alt="YouTube" title="YouTube" src="../public/youtube.png"/>
                    </a></li>
                </ul>
                </div>
                <div class="aliados">
                <h3 class="siguenos">En asociación con</h3>
                <ul>
                    <li><a target="_blank" href="https://twitter.com/Marce_Tabares?t=elmJ4rWg-XJGII5_6Eou2g&s=09">
                        <img class="icons2" alt="Fundacion La Pandilla Al Rescate" title="Pandilla al Rescate" src="../public/pandilla.jpeg"/>
                    </a>                    
                    </li>
                </ul>
            </div>
            </nav>
        <h3 class="copyright">Copyright 2024</h3>
        </footer>
    </main>
</body>

</html>