<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Salvando 4 patas al 100%</title>
    <meta name="viewport" content="width-device-width" />
    <link rel="stylesheet" href="../styless.css" />
    <link rel="icon" type="image/png" href="../public/salvando_logo.png" />
</head>

<body>
    <header>
        <a href="../index.html">
            <img title="Salvando logo" alt="Salvando logo" src="../public/salvando_logo.png" />
        </a>
        <h1>Salvando 4 patas al 100%</h1>
        <h2>#EnEquipoSomosMas</h2>
    </header>
    <main>
        <section>
            <div class="fondo">
                <h2>Nuestros eventos</h2>
                <ul class="contact">
                    <li class="photos">Event 1</li>
                    <li class="photos">Event 2</li>
                    <li class="photos">Event 3</li>
                    <li class="photos">Event 4</li>
                    <li class="photos">Event 5</li>
                    <li class="photos">Event 6</li>
                    <li class="photos">Event 7</li>
                    <li class="photos">Event 8</li>
                </ul>
            </div>

        </section>
        <footer>
            <nav>
                <h3 class="siguenos">Siguenos en</h3>
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/pg/salvando4patasal100/about">
                            <img class="icons" alt="Facebook" title="Facebook" src="../public/Facebook_Logo_2023.png" />
                        </a></li>
                    <li><a target="_blank"
                            href="https://www.instagram.com/invites/contact/?i=dihx5lh5wvcw&utm_content=4jd6r8w">
                            <img class="icons" alt="Instagram" title="Instagram"
                                src="../public/Instagram_icon.png.webp" />
                        </a></li>
                    <li><a target="_blank" href="https://twitter.com/SALVANDO4AL1OO?s=08">
                            <img class="icons" alt="Twitter" title="Twitter" src="../public/xlogo.png" />
                        </a></li>
                    <li><a target="_blank" href="https://vm.tiktok.com/ZSucWvvL">
                            <img class="icons" alt="TikTok" title="TikTok" src="../public/tiktok.png" />
                        </a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCZ4ElTuaWda6OWP9ZpVGz5g">
                            <img class="icons" alt="YouTube" title="YouTube" src="../public/youtube.png" />
                        </a></li>
                </ul>
            </nav>
            <h3 class="copyright">Copyright 2024</h3>
        </footer>
    </main>
</body>

</html>