<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Salvando 4 patas al 100%</title>
    <meta name="viewport" content="width-device-width" />
    <link rel="stylesheet" href="../styless.css" />
    <link rel="icon" type="image/png" href="../public/salvando_logo.png" />
</head>

<body>
    <header>
        <a href="../index.html">
            <img title="Salvando logo" alt="Salvando logo" src="../public/salvando_logo.png" />
        </a>
        <h1>Salvando 4 patas al 100%</h1>
        <h2>#EnEquipoSomosMas</h2>
    </header>
    <main>
        <div class="fondo">
        <section>
            <h2>Sobre nosotros</h2>
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum provident maiores praesentium amet
                voluptatum consequatur, eaque id tempora? Deserunt molestias accusantium molestiae distinctio doloremque
                sapiente praesentium? Quod deleniti sunt reiciendis dolores maiores ipsa nemo voluptas voluptatum dolor
                incidunt. Molestiae quos repellat corrupti animi, doloremque qui aperiam ipsum. Inventore ea tempora
                possimus officiis molestiae necessitatibus aliquid iure iste officia quam, aspernatur dolore laudantium
                deserunt similique cupiditate ducimus, temporibus neque harum. Nisi laudantium totam laboriosam
                veritatis quidem corrupti ipsam quia explicabo et nulla quisquam esse consequatur rerum consectetur
                alias suscipit id quis, qui repellat. Excepturi quam recusandae sequi asperiores, quo dicta doloremque?
            </h4>
        </section>
        <section>
            <h2>¿Cual es nuestra labor?</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellat quibusdam aperiam quo eum
                doloribus, ab nemo earum aspernatur vel voluptas suscipit, pariatur sint molestias ad. Voluptas
                excepturi quas aut dignissimos illo modi officia voluptates enim architecto similique impedit
                perspiciatis consequatur unde, odit aliquid accusantium, ullam ad quod blanditiis dolore obcaecati ea?
                Laboriosam sapiente ad voluptatem nam provident saepe asperiores molestiae sequi laborum quis doloremque
                consequuntur, quam fugiat illo qui vero voluptas earum dignissimos facere mollitia quisquam corporis!
                Hic perspiciatis officia dolores consectetur nisi, blanditiis explicabo iure autem ab esse illo, fugit
                quos possimus quae animi nostrum velit earum nemo?</h4>
        </section>
        <section>
            <h2>Encuéntranos en:</h2>
            <ul class="contact">
                <li class="redes"><a target="_blank" href="https://www.facebook.com/pg/salvando4patasal100/about">
                <img class="icons" alt="Facebook" title="Facebook" src="../public/Facebook_Logo_2023.png" />
                </a></li>
                <li class="redes"><a target="_blank"
                href="https://www.instagram.com/invites/contact/?i=dihx5lh5wvcw&utm_content=4jd6r8w">
                <img class="icons" alt="Instagram" title="Instagram"
                    src="../public/Instagram_icon.png.webp" />
                </a></li>
                <li class="redes"><a target="_blank" href="https://twitter.com/SALVANDO4AL1OO?s=08">
                <img class="icons" alt="Twitter" title="Twitter" src="../public/xlogo.png" />
                </a></li>
                <li class="redes"><a target="_blank" href="https://vm.tiktok.com/ZSucWvvL">
                <img class="icons" alt="TikTok" title="TikTok" src="../public/tiktok.png" />
                </a></li>
                <li class="redes"><a target="_blank" href="https://www.youtube.com/channel/UCZ4ElTuaWda6OWP9ZpVGz5g">
                <img class="icons" alt="YouTube" title="YouTube" src="../public/youtube.png" />
                </a></li>
                <li class="redes"><a target="_blank" href="tel:+573167016574">
                    <img class="icons" alt="WhatsApp" title="WhatsApp" src="../public/whatsapp.webp" />
                    </a></li>
    
            </ul>
        </section>
        <section>
            <h2>Photo Gallery</h2>
            <ul class="contact">
                <li class="photos">Photo 1</li>
                <li class="photos">Photo 2</li>
                <li class="photos">Photo 3</li>
                <li class="photos">Photo 4</li>
                <li class="photos">Photo 5</li>
                <li class="photos">Photo 6</li>
                <li class="photos">Photo 7</li>
                <li class="photos">Photo 8</li>
            </ul>
        </section>
        </div>
        <footer>
            <nav>
                <div class="siguenosmenu">
                    <h3 class="siguenos">Siguenos en</h3>
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/pg/salvando4patasal100/about">
                            <img class="icons" alt="Facebook" title="Facebook" src="../public/Facebook_Logo_2023.png"/>
                        </a></li>
                        <li><a target="_blank" href="https://www.instagram.com/invites/contact/?i=dihx5lh5wvcw&utm_content=4jd6r8w">
                            <img class="icons" alt="Instagram" title="Instagram" src="../public/Instagram_icon.png.webp"/>
                        </a></li>
                        <li><a target="_blank" href="https://twitter.com/SALVANDO4AL1OO?s=08">
                            <img class="icons" alt="Twitter" title="Twitter" src="../public/xlogo.png"/>
                        </a></li>
                        <li><a target="_blank" href="https://vm.tiktok.com/ZSucWvvL">
                            <img class="icons" alt="TikTok" title="TikTok" src="../public/tiktok.png"/>
                        </a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCZ4ElTuaWda6OWP9ZpVGz5g">
                            <img class="icons" alt="YouTube" title="YouTube" src="../public/youtube.png"/>
                        </a></li>
                    </ul>
                    </div>
                    <div class="aliados">
                    <h3 class="siguenos">En asociación con</h3>
                    <ul>
                        <li><a target="_blank" href="https://twitter.com/Marce_Tabares?t=elmJ4rWg-XJGII5_6Eou2g&s=09">
                            <img class="icons2" alt="Fundacion La Pandilla Al Rescate" title="Pandilla al Rescate" src="../public/pandilla.jpeg"/>
                        </a>                    
                        </li>
                    </ul>
                </div>
                </nav>
            </nav>
            <h3 class="copyright">Copyright 2024</h3>
        </footer>
    </main>
</body>

</html>